* {
  font-family: "Cute Font", cursive;
  font-family: "Gowun Dodum", sans-serif;
}

/* 전체 화면의 높이를 100%로 설정 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* 백그라운드이미지 */
img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
}

#weather {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 17px;
  color: white;
  /* 텍스트에 입체적인 효과를 주기 위한 속성 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.form {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#clock {
  font-size: 90px;
  padding: 250px 20px 20px 20px;
  margin: 0px;
}

input {
  background-color: transparent;
  padding: 5px;
  border: none;
  border-bottom: 1px solid white;
  font-size: 17px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

input::placeholder {
  color: white;
  font-weight: 200;
  text-align: center;
}

input:hover {
  color: white;
  cursor: pointer;
}

#todo-list {
}

button {
  background-color: transparent;
  border: none;
  /* opacity: 투명도 drop-shadow: 그림자 효과 */
  filter: opacity(0.3) drop-shadow(0 0 0 #ffffff);
}

li {
  list-style-type: none;
}

footer {
  position: absolute;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  bottom: 30px;
  /* left, transform: 수평으로 중앙 정렬하기 위한 설정 */
  left: 50%;
  transform: translateX(-50%);
  /* 텍스트 줄바꿈 방지 */
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.hidden {
  /* 어떤 요소에게든 hidden을 클래스로 주면, 그 요소를 숨겨준다. */
  display: none;
}
